*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 1px solid #464646;
}

.logo{
    animation: logo 1s ease forwards;
    visibility: hidden;
}

nav ul{
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    animation: nav-ul 1s ease forwards;
    visibility: hidden;
}

nav a{
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
}

nav a:hover{
    color: #fa8510;
}

header i{
    font-size: 20px;
    transition: color 0.3s linear;
    animation: header-i 1s linear forwards;
    visibility: hidden;
}

header i:hover{
    color: #fa8510;
    cursor: pointer;
}

@keyframes logo {
    0%{
        transform: translateX(-300px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes nav-ul {
    0%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes header-i {
    0%{
        transform: translateX(300px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

.headphones{
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.right h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fa8510;
    animation: right-h2 1s linear forwards;
    visibility: hidden;
}

.right h1{
    font-size: 50px;
    padding: 20px 0;
    text-transform: uppercase;
    animation: right-h1 1s linear forwards;
    visibility: hidden;
}

.right p{
    line-height: 22px;
    padding-bottom: 20px;
    animation: right-p 1s ease-in forwards;
    visibility: hidden;
}



.right a{
    background-color: #fa8510;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: color .3s linear, background-color .3s linear;
    animation: right-button 1s linear forwards;
    visibility: hidden;
}

/* .right a{
    color: white;
    text-decoration: none;
}

.right a:hover{
    color: #fa8510;
    background-color: white ;
} */

.right a:hover{
    color: #fa8510;
    background-color: white;
    border: 2px dashed #fa8510;
    cursor: pointer;
}

.left{
    background-color: #f9f3eb;
    animation: left-img 1s linear forwards;
    visibility: hidden;
}

@keyframes left-img {
    0%{
        transform: translateX(-400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes right-h2 {
    0%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes right-h1 {
    0%{
        transform: translateX(400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes right-p {
    0%{
        transform: translateX(400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes right-button {
    0%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.left1 h1{
    font-size: 50px;
    padding: 20px 0;
    text-transform: uppercase;
    animation: left1-h1 1s linear forwards;
    visibility: hidden;
}

.left1 p{
    line-height: 22px;
    padding-bottom: 20px;
    animation: left1-p 1s ease-in forwards;
    visibility: hidden;
}

.left1 button{
    background-color: #fa8510;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    transition: color .3s linear, background-color .3s linear;
    animation: left1-button 1s linear forwards;
    visibility: hidden;
}

.left1 button:hover{
    color: #fa8510;
    background-color: white;
    border: 2px dashed #fa8510;
    cursor: pointer;
}

.right1{
    width: 470px;
    height: 500px;
    background-color: #f9f3eb;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: right1-img 1s linear forwards;
    visibility: hidden;
}

.right1 img{
    width: 350px;
    height: 400px;
}

@keyframes right1-img {
    0%{
        transform: translateX(400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes left1-h1 {
    0%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes left1-p {
    0%{
        transform: translateX(-400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes left1-button {
    0%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.right2 h1{
    font-size: 50px;
    padding: 20px 0;
    text-transform: uppercase;
    animation: right2-h1 1s linear forwards;
    visibility: hidden;
}

.right2 p{
    line-height: 22px;
    padding-bottom: 20px;
    animation: right2-p 1s ease-in forwards;
    visibility: hidden;
}

.right2 button{
    background-color: #fa8510;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    transition: color .3s linear, background-color .3s linear;
    animation: right2-button 1s linear forwards;
    visibility: hidden;
}

.right2 button:hover{
    color: #fa8510;
    background-color: white;
    border: 2px dashed #fa8510;
    cursor: pointer;
}

.left2{
    width: 470px;
    height: 500px;
    background-color: #f9f3eb;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: left2-img 1s linear forwards;
    visibility: hidden;
}

.left2 img{
    width: 350px;
    height: 400px;
}

@keyframes left2-img {
    0%{
        transform: translateX(-400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes right2-h1 {
    0%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes right2-p {
    0%{
        transform: translateX(400px);
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes right2-button {
    0%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.cards{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.card{
    width: 330px;
    height: 200px;
    background-color: #fcf4e9;
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding-top: 100px;
    animation: card 1s linear forwards;
    visibility: hidden;
    animation-delay: 1s;
}

.shop-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 15px;
}

.shop-icon p:hover{
    color: #fa8510;
    font-weight: bold;
    cursor: pointer;
}

.shop-icon img{
    width: 12px;
    height: 17px;
}

.card-img{
    position: absolute;
    top: -90px;
    left: 100px;
}

.card-img1{
    position: absolute;
    top: -70px;
    left: 100px;
}

@keyframes card {       
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
        visibility: visible;
    }
}

.about-me{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.right4 img{
    width: 500px;
    height: 550px;
    animation: right4-img 1s linear forwards;
    visibility: hidden;
    animation-delay: 2s;
}

.left4 span{
    color: #fa7f03;
}

.left4 h1{
    text-transform: uppercase;
    font-size: 43px;
    animation: left4-h1 1s linear forwards;
    visibility: hidden;
    animation-delay: 2s;
}

.left4 p{
    line-height: 25px;
    padding-top: 20px;
    animation: left4-p 1s linear forwards;
    visibility: hidden;
    animation-delay: 2s;
}

@keyframes left4-h1 {
    from{
        transform: translateX(-400px);
    }

    to{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes left4-p {
    from{
        transform: translateX(100px);
    }

    to{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes right4-img {
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
        visibility: visible;
    }
}

footer{
    width: 100%;
    height: 60vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.information h2{
    font-size: 30px;
    animation: footer-h2 1s linear forwards;
    visibility: hidden;
    animation-delay: 3s;
}

.information p{
    line-height: 25px;
    color: gray;
    padding: 20px 0 60px 0;
    animation: footer-p 1s linear forwards;
    visibility: hidden;
    animation-delay: 3s;
}

.information h4{
    color: gray; 
    animation: footer-h4 1s linear forwards;
    visibility: hidden;
    animation-delay: 3s;
}

.nav-links ul{
    display: flex;
    gap: 20px;
    animation: footer-ul 1s linear forwards;
    visibility: hidden;
    animation-delay: 3s;
}

.nav-links a{
    color: white;
    text-decoration: none;

    transition: color .3s linear;
}

.nav-links a:hover{
    color: #fa7f03;
}

.links{
    display: flex;
    justify-content: end;
    animation: footer-link 1s linear forwards;
    visibility: hidden;
    animation-delay: 3s;
}

.links i{
    font-size: 25px;
    padding: 0 5px;
    margin: 120px 0 50px 0;
    transition: color .3s linear;
}

.links i:hover{
    cursor: pointer;
    color: gray;
}

@keyframes footer-h2 {
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes footer-p {
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
        visibility: visible;
    }
}

@keyframes footer-h4 {
    from{
        transform: translateY(200px);
    }

    to{
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes footer-ul {
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes footer-link {
    from{
        transform: translateY(200px);
    }

    to{
        transform: translateY(0);
        visibility: visible;
    }
}

@media (max-width: 1210px) {
    .cards{
        height: auto;
        margin: 150px 0 50px 0;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transform: scale(1.2);
    }

    .card{
        margin: 50px 0;
    }

    .nav-links ul{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding: 0 40px;
    }

    .links{
        display: flex;
        justify-content: center;
    }

    .about-me{
        height: auto;
        padding: 50px 10px;
    }
}

@media (max-width: 1070px) {
    .container, .container1, .container2{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 50px 0;
        gap: 50px;
    }

    .right h2{
        font-size: 35px;
    }

    .right h1{
        font-size: 75px;
    }

    .right2 h1{
        font-size: 75px;
    }

    .left1 h1{
        font-size: 75px;
    }

    .right, .left1, .right2, p{
        font-size: 23px;
    }

    .right button{
        padding: 20px 40px;
        font-size: 20px;
    }

    .right2 button{
        padding: 20px 40px;
        font-size: 20px;
    }

    .left1 button{
        padding: 20px 40px;
        font-size: 20px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .right4 img{
        width: 580px;
        height: 630px;
    }
}

@media (max-width: 900px) {
    header{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }
}

@media (max-width: 880px) {
    .cards{
        transform: scale(1.7);
        margin: 500px 0 300px 0;
    }

    footer{
        height: auto;
        padding: 30px 20px;
    }
}

@media (max-width: 700px) {
    footer{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .left4 h1{
        font-size: 40px;
    }

    .left4 p{
        font-size: 17px;
    }

    .right4 img{
        width: 480px;
        height: 480px;
    }

    .card-img{
        position: absolute;
        top: -70px;
        left: 90px;
        width: 110px;
        height: 130px;
    }

    .card-img1{
        position: absolute;
        top: -70px;
        left: 90px;
    }

    .card{
        width: 290px;
        height: 180px;
    }

    .right h2{
        font-size: 30px;
    }

    .right h1{
        font-size: 65px;
    }

    .right2 h1{
        font-size: 65px;
    }

    .left1 h1{
        font-size: 65px;
    }

    .right, .left1, .right2, p{
        font-size: 20px;
    }

    .right button{
        padding: 15px 20px;
        font-size: 15px;
    }

    .right2 button{
        padding: 15px 20px;
        font-size: 15px;
    }

    .left1 button{
        padding: 15px 20px;
        font-size: 15px;
    }

    .left2{
        width: 430px;
        height: 450px;
    }
    
    .left2 img{
        width: 300px;
        height: 350px;
    }
    
    .left img{
        width: 450px;
        height: 450px;
    }

    .right1{
        width: 430px;
        height: 450px;
    }
    
    .right1 img{
        width: 300px;
        height: 350px;
    }
}

@media (max-width: 500px) {
    .card{
        width: 250px;
        height: 150px;
        padding-top: 80px;
    }

    .cards{
        margin: 350px 0 300px 0;
    }

    .card-img{
        position: absolute;
        top: -60px;
        left: 90px;
        width: 90px;
        height: 110px;
    }

    .card-img1{
        position: absolute;
        top: -50px;
        left: 80px;
        width: 95px;
        height: 100px;
    }

    .card h2{
        font-size: 15px;
    }

    .shop-icon p{
        font-size: 10px;
    }

    .shop-icon img{
        width: 6px;
        height: 10px;
    }

    .shop-icon{
        gap: 5px;
    }

    .left4 h1{
        font-size: 35px;
    }

    .left4 p{
        font-size: 14px;
    }

    .right4 img{
        width: 400px;
        height: 400px;
    }

    .about-me{
        padding: 50px 0;
    }

    .right h2{
        font-size: 25px;
    }

    .right h1{
        font-size: 55px;
    }

    .right2 h1{
        font-size: 55px;
    }

    .left1 h1{
        font-size: 55px;
    }

    .right, .left1, .right2, p{
        font-size: 18px;
    }

    .right button{
        padding: 15px 20px;
        font-size: 15px;
    }

    .right2 button{
        padding: 15px 20px;
        font-size: 15px;
    }

    .left1 button{
        padding: 15px 20px;
        font-size: 15px;
    }

    .left2{
        width: 380px;
        height: 400px;
    }
    
    .left2 img{
        width: 250px;
        height: 300px;
    }
    
    .left img{
        width: 390px;
        height: 390px;
    }

    .right1{
        width: 380px;
        height: 400px;
    }
    
    .right1 img{
        width: 250px;
        height: 300px;
    }
}

@media (max-width: 450px) {
    nav ul{
        flex-wrap: wrap;
        padding: 0 5px;
        display: flex;
        justify-content: center;
    }

    .left4 h1{
        font-size: 30px;
    }

    .left4 p{
        font-size: 12px;
    }

    .card-img{
        position: absolute;
        top: -60px;
        left: 60px;
        width: 70px;
        height: 90px;
    }

    .card-img1{
        position: absolute;
        top: -35px;
        left: 60px;
        width: 70px;
        height: 70px;
    }

    .card{
        width: 200px;
        height: 130px;
        padding-top: 60px;
    }

    .cards{
        margin: 300px 0 250px 0;
        padding: 20px;
    }

    .right4 img{
        width: 350px;
        height: 350px;
    }

    .about-me{
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .right4 img{
        width: 300px;
        height: 300px;
    }

    .headphones{
        font-size: 20px;
    }

    .right h2{
        font-size: 20px;
    }

    .right h1{
        font-size: 45px;
    }

    .right2 h1{
        font-size: 45px;
    }

    .left1 h1{
        font-size: 45px;
    }

    .right, .left1, .right2, p{
        font-size: 13px;
    }

    .right button{
        padding: 10px 20px;
        font-size: 12px;
    }

    .right2 button{
        padding: 10px 20px;
        font-size: 12px;
    }

    .left1 button{
        padding: 10px 20px;
        font-size: 12px;
    }

    .left2{
        width: 330px;
        height: 350px;
    }
    
    .left2 img{
        width: 200px;
        height: 250px;
    }
    
    .left img{
        width: 340px;
        height: 340px;
    }

    .right1{
        width: 330px;
        height: 350px;
    }
    
    .right1 img{
        width: 200px;
        height: 250px;
    }

    .left4 h1{
        font-size: 25px;
    }

    .left4 p{
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .card-img{
        position: absolute;
        top: -40px;
        left: 60px;
        width: 70px;
        height: 80px;
    }

    .card-img1{
        position: absolute;
        top: -35px;
        left: 60px;
        width: 70px;
        height: 70px;
    }

    .cards{
        padding: 0;
        transform: scale(1.5);
    }

    .left4 h1{
        font-size: 25px;
    }

    .left4 p{
        font-size: 9px;
    }
    
    .right h2{
        font-size: 17px;
    }

    .right h1{
        font-size: 40px;
    }

    .right2 h1{
        font-size: 40px;
    }

    .left1 h1{
        font-size: 40px;
    }

    .right, .left1, .right2, p{
        font-size: 11px;
    }

    .right button{
        padding: 10px 20px;
        font-size: 12px;
    }

    .right2 button{
        padding: 10px 20px;
        font-size: 12px;
    }

    .left1 button{
        padding: 10px 20px;
        font-size: 12px;
    }

    .left2{
        width: 300px;
        height: 320px;
    }
    
    .left2 img{
        width: 170px;
        height: 220px;
    }
    
    .left img{
        width: 300px;
        height: 300px;
    }

    .right1{
        width: 300px;
        height: 320px;
    }
    
    .right1 img{
        width: 170px;
        height: 220px;
    }
}